{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Register
{% endblock title %}
{% block nav %}
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="/static/assets/nav.png" alt="" width="30" height="30" class="d-inline-block align-top">
      JustWalkOut
    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"data-bs-toggle="modal" data-bs-target="#staticBackdrop">Login</a>
        </li>
      </ul>
    </div>
  </div>

    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Please, Look at Camera</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/static/assets/Login.gif" float="right" alt="this slowpoke moves"  width=260/>

      </div>
      <div class="modal-footer" float="left">
        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'login' %}"><button type="button" class="btn btn-primary"> <span class="spinner-border text-success spinner-grow-sm" role="status" aria-hidden="true"></span> Understood & Login</button></a>
      </div>
    </div>
  </div>
</div>
</nav>

{% endblock nav %}
{% block content %}

<div class="row">
  <div class="col my-4">
    <img src="/static/assets/register1.gif" float="right" alt="this slowpoke moves"  width=540/>

  </div>
  <div class="col">
    
    <div class="card my-4" style="width: 35rem;">
      <div class="card-header list-group-item active" aria-current="true">
        Registration
      </div>
      <div class="card-body" >
      
<form action="" method="post" enctype="multipart/form-data" >
  {% csrf_token %}
{#    <input type="text" placeholder="Full name"><br>#}
{#    <input type="number" name="face_id" placeholder="Number"><br>#}
{#    <input type="text" name="email" id="" placeholder="Email"> <br>#}
{#    <input type="text" name="phone" placeholder="Phone"> #}
{#    <input type="file" name="dp" accept="images/*" id=""><br>#}
{#    <input type="submit" value="Register"><br>#}
{#    <input type="reset" value="Clear">#}
  {{ form|crispy }}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <input type="submit" class="btn btn-success "value="Register"><br>
  <input type="reset" class="btn btn-danger" value="Clear">
</div>
</form>
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}
